In [73]:
import os
import pandas as pd
import numpy as np
from pybaseball import batting_stats

In [74]:
START = 2002
END = 2022

In [75]:
### SCRAPING DATA ###

In [76]:
batting = batting_stats(START, END, qual=200)

In [77]:
batting.to_csv("batting.csv")

In [78]:
batting = batting.groupby("IDfg", group_keys=False).filter(lambda x: x.shape[0] > 1)

In [79]:
batting

,IDfg,Season,Name,Team,Age,G,AB,PA,H,1B,...,maxEV,HardHit,HardHit%,Events,CStr%,CSW%,xBA,xSLG,xwOBA,L-WAR
0,1109,2002,Barry Bonds,SFG,37,143,403,612,149,70,...,NaN,NaN,NaN,0,0.127,0.191,NaN,NaN,NaN,12.7
1,1109,2004,Barry Bonds,SFG,39,147,373,617,135,60,...,NaN,NaN,NaN,0,0.124,0.164,NaN,NaN,NaN,11.9
8,15640,2022,Aaron Judge,NYY,30,157,570,696,177,87,...,118.4,246.0,0.609,404,0.169,0.287,NaN,NaN,NaN,11.2
15,13611,2018,Mookie Betts,BOS,25,136,520,614,180,96,...,110.6,217.0,0.500,434,0.220,0.270,NaN,NaN,NaN,10.4
2,1109,2003,Barry Bonds,SFG,38,130,390,550,133,65,...,NaN,NaN,NaN,0,0.135,0.223,NaN,NaN,NaN,10.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6885,1698,2010,Gerald Laird,DET,30,89,270,299,56,40,...,NaN,0.0,NaN,0,0.166,0.252,NaN,NaN,NaN,-2.4
7042,9272,2018,Chris Davis,BAL,32,128,470,522,79,51,...,111.8,113.0,0.401,282,0.174,0.316,NaN,NaN,NaN,-3.1
6673,319,2011,Adam Dunn,CHW,31,122,415,496,66,39,...,NaN,0.0,NaN,0,0.169,0.295,NaN,NaN,NaN,-2.9
6988,620,2002,Neifi Perez,KCR,29,145,554,585,131,104,...,NaN,NaN,NaN,0,0.130,0.187,NaN,NaN,NaN,-2.9
978,2113,2008,Ryan Doumit,PIT,27,116,431,465,137,88,...,NaN,0.0,NaN,0,0.144,0.231,NaN,NaN,NaN,-3.4

In [80]:
### CREATING ML TARGET ###

In [81]:
def next_season(player):
    player = player.sort_values("Season")
    player["Next_WAR"] = player["WAR"].shift(-1)
    return player

batting = batting.groupby("IDfg", group_keys=False).apply(next_season)

In [82]:
batting[["Name", "Season", "WAR", "Next_WAR"]]

                 Name  Season  WAR  Next_WAR
5562  Alfredo Amezaga    2006  1.1       2.0
5006  Alfredo Amezaga    2007  2.0       1.2
5252  Alfredo Amezaga    2008  1.2       NaN
1169  Garret Anderson    2002  3.7       5.1
864   Garret Anderson    2003  5.1       0.8
...               ...     ...  ...       ...
6002      Owen Miller    2022  0.6       NaN
4881    Andrew Vaughn    2021 -0.3      -0.5
3377    Andrew Vaughn    2022 -0.5       NaN
6620     Ha-seong Kim    2021  0.5       3.7
4396     Ha-seong Kim    2022  3.7       NaN

[6754 rows x 4 columns]

In [83]:
### CLEANING THE DATA ###

In [84]:
null_count = batting.isnull().sum()
null_count

IDfg           0
Season         0
Name           0
Team           0
Age            0
            ...
xBA         6754
xSLG        6754
xwOBA       6754
L-WAR          0
Next_WAR    1179
Length: 321, dtype: int64

In [85]:
complete_cols = list(batting.columns[null_count == 0])
complete_cols

['IDfg',
 'Season',
 'Name',
 'Team',
 'Age',
 'G',
 'AB',
 'PA',
 'H',
 '1B',
 '2B',
 '3B',
 'HR',
 'R',
 'RBI',
 'BB',
 'IBB',
 'SO',
 'HBP',
 'SF',
 'SH',
 'GDP',
 'SB',
 'CS',
 'AVG',
 'GB',
 'FB',
 'LD',
 'IFFB',
 'Pitches',
 'Balls',
 'Strikes',
 'IFH',
 'BU',
 'BUH',
 'BB%',
 'K%',
 'BB/K',
 'OBP',
 'SLG',
 'OPS',
 'ISO',
 'BABIP',
 'GB/FB',
 'LD%',
 'GB%',
 'FB%',
 'IFFB%',
 'HR/FB',
 'IFH%',
 'BUH%',
 'wOBA',
 'wRAA',
 'wRC',
 'Bat',
 'Rep',
 'Pos',
 'RAR',
 'WAR',
 'Dol',
 'Spd',
 'wRC+',
 'WPA',
 '-WPA',
 '+WPA',
 'RE24',
 'REW',
 'pLI',
 'PH',
 'WPA/LI',
 'Clutch',
 'FB% (Pitch)',
 'FBv',
 'SL%',
 'SLv',
 'CB%',
 'CBv',
 'CH%',
 'CHv',
 'wFB',
 'wSL',
 'wCB',
 'wCH',
 'wFB/C',
 'wSL/C',
 'wCB/C',
 'wCH/C',
 'O-Swing%',
 'Z-Swing%',
 'Swing%',
 'O-Contact%',
 'Z-Contact%',
 'Contact%',
 'Zone%',
 'F-Strike%',
 'SwStr%',
 'BsR',
 'Def',
 'wSB',
 'UBR',
 'Age Rng',
 'Off',
 'Lg',
 'wGDP',
 'Pull%',
 'Cent%',
 'Oppo%',
 'Soft%',
 'Med%',
 'Hard%',
 'TTO%',
 'AVG+',
 'BB%+',
 'K%+',
 'OBP+',
 'SLG+',
 'ISO+',
 'BABIP+',
 'LD+%',
 'GB%+',
 'FB%+',
 'HR/FB%+',
 'Pull%+',
 'Cent%+',
 'Oppo%+',
 'Soft%+',
 'Med%+',
 'Hard%+',
 'Events',
 'CStr%',
 'CSW%',
 'L-WAR']

In [86]:
batting = batting[complete_cols + ["Next_WAR"]].copy()

In [87]:
batting

,IDfg,Season,Name,Team,Age,G,AB,PA,H,1B,...,Cent%+,Oppo%+,Soft%+,Med%+,Hard%+,Events,CStr%,CSW%,L-WAR,Next_WAR
5562,1,2006,Alfredo Amezaga,FLA,28,132,334,378,87,72,...,107,113,143,109,63,0,0.188,0.256,1.1,2.0
5006,1,2007,Alfredo Amezaga,FLA,29,133,400,448,105,80,...,101,112,109,113,75,0,0.175,0.227,2.0,1.2
5252,1,2008,Alfredo Amezaga,FLA,30,125,311,337,82,61,...,101,101,123,111,64,0,0.178,0.244,1.2,NaN
1169,2,2002,Garret Anderson,ANA,30,158,638,678,195,107,...,91,80,65,97,129,0,0.137,0.232,3.7,5.1
864,2,2003,Garret Anderson,ANA,31,159,638,673,201,119,...,101,80,90,99,109,0,0.164,0.252,5.1,0.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6002,24655,2022,Owen Miller,CLE,25,130,424,472,103,70,...,111,97,131,100,83,340,0.188,0.266,-0.1,NaN
4881,26197,2021,Andrew Vaughn,CHW,23,127,417,469,98,61,...,104,116,84,99,110,321,0.185,0.285,0.2,-0.5
3377,26197,2022,Andrew Vaughn,CHW,24,134,510,555,138,92,...,106,111,94,100,104,419,0.201,0.291,0.4,NaN
6620,27506,2021,Ha-seong Kim,SDP,25,117,267,298,54,32,...,99,59,137,96,88,201,0.216,0.303,0.6,3.7
4396,27506,2022,Ha-seong Kim,SDP,26,150,517,582,130,87,...,104,71,117,100,90,424,0.205,0.276,4.0,NaN

In [88]:
batting.dtypes

IDfg          int64
Season        int64
Name         object
Team         object
Age           int64
             ...
Events        int64
CStr%       float64
CSW%        float64
L-WAR       float64
Next_WAR    float64
Length: 133, dtype: object

In [89]:
batting.dtypes[batting.dtypes == "object"]

Name       object
Team       object
Dol        object
Age Rng    object
dtype: object

In [90]:
batting["Dol"]

5562      $5.5
5006     $11.2
5252      $7.2
1169     $14.6
864      $22.0
         ...
6002      $4.8
4881    ($2.8)
3377    ($4.1)
6620      $3.9
4396     $29.4
Name: Dol, Length: 6754, dtype: object

In [91]:
del batting["Dol"]

In [92]:
batting["Age Rng"]

5562    28 - 28
5006    29 - 29
5252    30 - 30
1169    30 - 30
864     31 - 31
         ...
6002    25 - 25
4881    23 - 23
3377    24 - 24
6620    25 - 25
4396    26 - 26
Name: Age Rng, Length: 6754, dtype: object

In [93]:
del batting["Age Rng"]

In [94]:
batting["team_code"] = batting["Team"].astype("category").cat.codes

In [95]:
batting_full = batting.copy()
batting = batting.dropna().copy()

In [96]:
### SELECTING FEATURES ###

In [97]:
from sklearn.linear_model import Ridge
from sklearn.feature_selection import SequentialFeatureSelector
from sklearn.model_selection import TimeSeriesSplit

rr = Ridge(alpha=1)
split = TimeSeriesSplit(n_splits=3)
sfs = SequentialFeatureSelector(rr, n_features_to_select=20, direction="forward", cv=split, n_jobs=4)

In [98]:
removed_columns = ["Next_WAR", "Name", "Team", "IDfg", "Season"]
selected_columns = batting.columns[~batting.columns.isin(removed_columns)]

In [99]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
batting.loc[:, selected_columns] = scaler.fit_transform(batting[selected_columns])

In [100]:
batting.describe()

,IDfg,Season,Age,G,AB,PA,H,1B,2B,3B,...,Oppo%+,Soft%+,Med%+,Hard%+,Events,CStr%,CSW%,L-WAR,Next_WAR,team_code
count,5575.000000,5575.000000,5575.000000,5575.000000,5575.000000,5575.000000,5575.000000,5575.000000,5575.000000,5575.000000,...,5575.000000,5575.000000,5575.000000,5575.000000,5575.000000,5575.000000,5575.000000,5575.000000,5575.000000,5575.000000
mean,5366.785830,2011.163229,0.360600,0.652755,0.478666,0.480943,0.365973,0.290481,0.399279,0.103459,...,0.403164,0.410923,0.511026,0.478646,0.172991,0.498932,0.545898,0.334663,1.794404,0.474128
std,5133.255295,5.612014,0.147476,0.255929,0.242481,0.262290,0.182585,0.138786,0.171732,0.105891,...,0.131213,0.121082,0.130359,0.133992,0.273858,0.137180,0.120701,0.120013,1.997295,0.305105
min,1.000000,2002.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-3.400000,0.000000
25%,1131.500000,2006.000000,0.269231,0.478632,0.275180,0.257785,0.211207,0.179245,0.258621,0.043478,...,0.315789,0.331461,0.420290,0.387755,0.000000,0.408511,0.466960,0.248447,0.300000,0.205882
50%,3531.000000,2011.000000,0.346154,0.709402,0.505396,0.508651,0.370690,0.283019,0.379310,0.086957,...,0.398496,0.404494,0.507246,0.489796,0.000000,0.493617,0.546256,0.316770,1.500000,0.470588
75%,9015.000000,2016.000000,0.461538,0.871795,0.688849,0.710208,0.508621,0.391509,0.517241,0.130435,...,0.488722,0.483146,0.594203,0.564626,0.346411,0.591489,0.625551,0.403727,2.900000,0.735294
max,27506.000000,2021.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,11.900000,1.000000

In [101]:
sfs.fit(batting[selected_columns], batting["Next_WAR"])

SequentialFeatureSelector(cv=TimeSeriesSplit(gap=0, max_train_size=None, n_splits=3, test_size=None),
                          estimator=Ridge(alpha=1), n_features_to_select=20,
                          n_jobs=4)

In [102]:
predictors = list(selected_columns[sfs.get_support()])
predictors

['Age',
 'IBB',
 'SO',
 'SB',
 'BU',
 'BABIP',
 'IFH%',
 'WAR',
 'Spd',
 'PH',
 'CB%',
 'O-Contact%',
 'wGDP',
 'Oppo%',
 'OBP+',
 'SLG+',
 'Pull%+',
 'Soft%+',
 'Hard%+',
 'L-WAR']

In [103]:
### MAKING THE PREDICTIONS ###

In [104]:
def backtest(data, model, predictors, start=5, step=1):
    all_predictions = []
    years = sorted(data["Season"].unique())
    
    for i in range(start, len(years), step):
        current_year = years[i]
        
        train = data[data["Season"] < current_year]
        test = data[data["Season"] == current_year]
        
        model.fit(train[predictors], train["Next_WAR"])
        
        preds = model.predict(test[predictors])
        preds = pd.Series(preds, index=test.index)
        combined = pd.concat([test["Next_WAR"], preds], axis=1)
        combined.columns = ["actual", "prediction"]
        
        all_predictions.append(combined)
    return pd.concat(all_predictions)

In [105]:
predictions = backtest(batting, rr, predictors)
predictions

      actual  prediction
5006     1.2    1.559413
1925     1.4    0.791633
3102    -0.1    0.569487
5797     0.6    0.908732
1109     4.8    2.193959
...      ...         ...
1914     2.4    2.767982
5875     0.9    1.940471
7032     0.6    1.539768
4881    -0.5    1.897781
6620     3.7    1.128350

[4127 rows x 2 columns]

In [106]:
from sklearn.metrics import mean_squared_error
mean_squared_error(predictions["actual"], predictions["prediction"])

2.801842814038512

In [107]:
batting["Next_WAR"].describe()

count    5575.000000
mean        1.794404
std         1.997295
min        -3.400000
25%         0.300000
50%         1.500000
75%         2.900000
max        11.900000
Name: Next_WAR, dtype: float64

In [108]:
2.8018428140385114**.5

1.6738706085114559

In [109]:
### GIVING ALGORITHM MORE INFO TO IMPROVE ACCURACY ###

In [110]:
def player_history(df):
    df = df.sort_values("Season")
    
    df["player_season"] = range(0, df.shape[0])
    df["war_corr"] = list(df[["player_season", "WAR"]].expanding().corr().loc[(slice(None), "player_season"), "WAR"])
    df["war_corr"].fillna(1, inplace=True)
    
    df["war_diff"] = df["WAR"] / df["WAR"].shift(1) # ratio of past season to current season
    df["war_diff"].fillna(1,inplace=True)
    
    df["war_diff"][df["war_diff"] == np.inf] = 1
    
    return df

batting = batting.groupby("IDfg", group_keys=False).apply(player_history)

In [111]:
def group_averages(df):
    return df["WAR"] / df["WAR"].mean()

In [112]:
batting["war_season"] = batting.groupby("Season", group_keys=False).apply(group_averages)
new_predictors = predictors + ["player_season", "war_corr", "war_season", "war_diff"]

In [113]:
predictions = backtest(batting, rr, new_predictors)

In [61]:
mean_squared_error(predictions["actual"], predictions["prediction"])

2.713422267649885

In [62]:
### DIAGNOSING SOME MORE ISSUES ###

In [114]:
pd.Series(rr.coef_, index=new_predictors).sort_values()

Age             -2.629130
BABIP           -1.818423
WAR             -1.805358
SLG+            -1.425019
Soft%+          -1.281034
BU              -0.931343
PH              -0.716094
SO              -0.690643
war_diff        -0.587567
wGDP            -0.445708
CB%             -0.288049
Pull%+          -0.193498
war_corr        -0.123023
player_season   -0.007173
O-Contact%       0.236403
L-WAR            0.392026
IFH%             0.398470
OBP+             0.469473
Oppo%            0.706957
Spd              0.758458
SB               1.025812
IBB              1.631790
Hard%+           2.363680
war_season       3.329004
dtype: float64

In [115]:
diff = predictions["actual"] - predictions["prediction"]
diff

5006   -0.350056
1925    0.903027
3102   -0.526695
5797   -0.288436
1109    2.842425
          ...
1914   -0.285035
5875   -0.860588
7032   -0.642726
4881   -2.007662
6620    2.686804
Length: 4127, dtype: float64

In [116]:
merged = predictions.merge(batting, left_index=True, right_index=True)
merged["diff"] = (predictions["actual"] - predictions["prediction"]).abs()
merged[["IDfg", "Season", "Name", "WAR", "Next_WAR", "diff"]].sort_values(["diff"])

       IDfg  Season               Name       WAR  Next_WAR      diff
4115   5352    2014  Yangervis Solarte  0.316770       1.8  0.000121
4237   8722    2017       Jason Castro  0.341615       1.7  0.000361
688    5343    2021   Brandon Crawford  0.596273       2.0  0.001042
4355   6141    2009         Tony Gwynn  0.360248       2.0  0.001062
2597   5933    2021        Jean Segura  0.422360       1.7  0.001617
...     ...     ...                ...       ...       ...       ...
3245   5631    2010          Matt Kemp  0.211180       8.3  6.330702
3161   4810    2007       Brian McCann  0.304348       8.6  6.333983
871    9166    2010       Buster Posey  0.459627      10.1  6.629173
2516  11579    2014       Bryce Harper  0.310559       9.3  7.428786
451   15640    2021        Aaron Judge  0.552795      11.5  7.569412

[4127 rows x 6 columns]

In [117]:
merged

,actual,prediction,IDfg,Season,Name,Team,Age,G,AB,PA,...,CStr%,CSW%,L-WAR,Next_WAR,team_code,player_season,war_corr,war_diff,war_season,diff
5006,1.2,1.550056,1,2007,Alfredo Amezaga,FLA,0.384615,0.743590,0.431655,0.429066,...,0.527660,0.396476,0.335404,1.2,0.352941,1,1.000000,1.200000,0.998355,0.350056
1925,1.4,0.496973,2,2007,Garret Anderson,LAA,0.615385,0.529915,0.462230,0.432526,...,0.442553,0.480176,0.298137,1.4,0.441176,5,-0.692192,1.371429,0.887427,0.903027
3102,-0.1,0.426695,10,2007,David Eckstein,STL,0.500000,0.606838,0.492806,0.491349,...,0.676596,0.436123,0.254658,-0.1,0.852941,5,-0.694330,0.836735,0.758010,0.526695
5797,0.6,0.888436,11,2007,Darin Erstad,CHW,0.538462,0.350427,0.269784,0.254325,...,0.765957,0.691630,0.254658,0.6,0.205882,4,-0.828562,0.803922,0.758010,0.288436
1109,4.8,1.957575,15,2007,Troy Glaus,TOR,0.423077,0.589744,0.404676,0.442907,...,0.634043,0.704846,0.378882,4.8,0.970588,5,0.231396,0.897059,1.127772,2.842425
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1914,2.4,2.685035,23667,2021,Wander Franco,TBR,0.038462,0.205128,0.217626,0.186851,...,0.391489,0.352423,0.366460,2.4,0.911765,0,1.000000,1.000000,1.059886,0.285035
5875,0.9,1.760588,24618,2021,Ryan Jeffers,MIN,0.192308,0.333333,0.192446,0.160900,...,0.514894,0.788546,0.254658,0.9,0.558824,0,1.000000,1.000000,0.749230,0.860588
7032,0.6,1.242726,24655,2021,Owen Miller,CLE,0.192308,0.119658,0.055755,0.003460,...,0.548936,0.700441,0.142857,0.6,0.264706,0,1.000000,1.000000,0.438574,0.642726
4881,-0.5,1.507662,26197,2021,Andrew Vaughn,CHW,0.153846,0.692308,0.462230,0.465398,...,0.570213,0.651982,0.223602,-0.5,0.205882,0,1.000000,1.000000,0.566491,2.007662
6620,3.7,1.013196,27506,2021,Ha-seong Kim,SDP,0.230769,0.606838,0.192446,0.169550,...,0.702128,0.731278,0.248447,3.7,0.764706,0,1.000000,1.000000,0.712682,2.686804